ENV=local
PORT=8000

# DB
POSTGRES_DB=db
POSTGRES_USER=admin
POSTGRES_PASSWORD=qwerty123
POSTGRES_SSLMODE=disable
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Auth
AUTH_ISSUER=http://localhost:8080/fastapi-sandbox
AUTH_AUDIENCE=fastapi-sandbox
AUTH_JWKS_URI=http://mock-oauth2-server:8080/fastapi-sandbox/jwks

# Storage
STORAGE_SERVICE_URL=http://minio:9000
STORAGE_PUBLIC_URL=http://localhost:8000/storage
STORAGE_ACCESS_KEY_ID=admin
STORAGE_SECRET_ACCESS_KEY=qwerty123
STORAGE_BUCKET_NAME=fastapi-sandbox-local
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=qwerty123

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=qwerty123

# Observability
OBSERVABILITY_BUCKET_NAME=fastapi-sandbox-observability
