# AWS Credentials
aws_access_key_id     = ""
aws_secret_access_key = ""

# Database
db_host     = ""
db_user     = ""
db_password = ""

# Auth
auth_issuer    = ""
auth_audience  = ""
auth_jwks_uri  = ""

# Observability
otel_otlp_endpoint    = ""
otel_otlp_instance_id = ""
otel_otlp_token       = ""
